{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


{{ dump(criterion) }}
{% set i = 0 %}
{% for criteria in criterion %}

    {# {% if criteria.type is same as ("exterieur") %} #}
        <div>{{criteria.name}}</div>
        <pre>
          {{ dump(criterion[i].type) }}
        </pre>
        {% if criterion[i + 1].type is defined and criterion[i].type != criterion[i + 1].type   %}
          <hr>
        {% endif %}
    {# {% endif %} #}

    
    
    {# {% if criteria.type is same as ("interieur") %} #}
        {# <div>{{criteria.name}}</div> #}
    {# {% endif %} #}

{% set i = i + 1 %}

  {{ dump(i) }}

{% endfor %}
{% endblock %}
