{% extends 'base.html.twig' %}

{% block title %}Edit Lodging{% endblock %}

{% block body %}
    <h1>Edit Lodging</h1>
{{ include('lodging/_form.html.twig') }}
    <a class="btn btn-primary" href="{{ path('app_lodging_index') }}">back to list</a>

    {{ include('lodging/_delete_form.html.twig') }}


    
{% endblock %}

{% block javascripts %}

{{ parent() }} 

{# {{ encore_entry_script_tags('ajaxRegion') }} #}

{# 
<script>
window.onload = () => {
var $region = $('#lodging_region');
// When sport gets selected ...
$region.change(function() {
  // ... retrieve the corresponding form.
  var $form = $(this).closest('form');
  // Simulate form data, but only include the selected sport value.
  var data = {};
  data[$region.attr('name')] = $region.val();
  // Submit data via AJAX to the form's action path.
  $.ajax({
    url : $form.attr('action'),
    type: $form.attr('method'),
    data : data,
    complete: function(html) {
      // Replace current position field ...
      $('#lodging_departement').replaceWith(
        // ... with the returned one from the AJAX response.
        $(html.responseText).find('#lodging_departement')
      );
      // Position field now displays the appropriate positions.
    }
  });
});
}
</script> #}



{# 
<script>
window.onload = () => {
$(document).on('change', '#lodging_region', '#lodging_departement', function () {

    let $field = $(this)
    let $regionField = $('#lodging_region')
  // ... retrieve the corresponding form.
    let $form = $field.closest('form');
    let target = '#' + $field.attr('id').replace('departement', 'ville').replace('region', 'departement')
  // Simulate form data, but only include the selected sport value.
  let data = {};
  data[$regionField.attr('name')] = $regionField.val();
  data[$field.attr('name')] = $field.val();
  // Submit data via AJAX to the form's action path.
  $.post($form.attr('action'), data).then(function (data) {
    let $input = $(html.responseText).find(target)
    $(target).replaceWith($input)

    //   $('#lodging_departement').replaceWith(
    //     // ... with the returned one from the AJAX response.
    //     $(html.responseText).find('#lodging_departement')
    //   );
      // Position field now displays the appropriate positions.
    
  });
});
}
</script> #}


<script>
  


window.onload = () => {

    let region = document.querySelector("#lodging_region")
    region.addEventListener("change", function(){
      // mettre le select de la ville a null
        document.querySelector("#lodging_city").innerHTML = null
            let form = this.closest("form")
            const data = new URLSearchParams();
            for (const pair of new FormData(form)) {
              if (pair[0] != 'lodging[_token]'){
                data.append(pair[0], pair[1]);
                }
            }
            // let data = this.name + "=" + this.value
            
            fetch(form.action, {
                method: 'post',
                body: data,
                headers: {
                "Content-Type": "application/x-www-form-urlencoded; charset=UTF-8"
                }
            })

            .then(response => response.text())
            .then(html => {
            let content = document.createElement("html")
            content.innerHTML = html
            console.log(content)
            let newSelect = content.querySelector("#lodging_departement") 
            

            document.querySelector("#lodging_departement").replaceWith(newSelect)

            


                let departement = document.querySelector("#lodging_departement")
                    if (typeof departement !== 'undefined' && departement !== null ) {
                        
                    
                    departement.addEventListener("change", function(){
                        
                          const data = new URLSearchParams();
                            for (const pair of new FormData(form)) {
                              if (pair[0] != 'lodging[_token]'){
                                data.append(pair[0], pair[1]);
                                }
                            }
                            // data += '&' + this.name + "=" + this.value
                            
                        fetch(form.action, {
                            method: 'post',
                            body: data,
                            headers: {
                                "Content-Type": "application/x-www-form-urlencoded; charset=UTF-8"
                            }
                        })
                        .then(response => response.text())
                        .then(html => {
                            content = document.createElement("html")
                            content.innerHTML = html
                            let nouveauSelect = content.querySelector("#lodging_city")
                            document.querySelector("#lodging_city").replaceWith(nouveauSelect)
                        })
    
                    })
                }
                
        
        })
    })  
    }
</script>

{% endblock %}
