{% extends 'base.html.twig' %}

{% block title %}Edit Lodging{% endblock %}

{% block body %}
    <h1>Edit Lodging</h1>
{{ include('lodging/_form.html.twig') }}
    <a class="btn btn-primary" href="{{ path('app_lodging_index') }}">back to list</a>

    {{ include('lodging/_delete_form.html.twig') }}


    
{% endblock %}

{% block javascripts %}

{{ parent() }} 
{# {{ encore_entry_script_tags('ajaxRegion') }} #}

{# <script>

window.onload = () => {
    let region = document.querySelector("#lodging_region")
    region.addEventListener("change", function(){
            let form = this.closest("form")
            let data = this.name + "=" + this.value
            
            fetch(form.action, {
                method: 'OPTIONS',
                body: data,
                headers: {
                "Content-Type": "application/x-www-form-urlencoded; charset=UTF-8"
                }
            })

            .then(response => console.log(response))
            .then(html => {
            let content = document.createElement("html")
            content.innerHTML = html
            let newSelect = content.querySelector("#lodging_departement") 
            

            document.querySelector("#lodging_departement").replaceWith(newSelect)

            


                let departement = document.querySelector("#lodging_departement")
                    if (typeof departement !== 'undefined' && departement !== null ) {
                        
                    
                    departement.addEventListener("change", function(){
                        
                            data += '&' + this.name + "=" + this.value
                            
                        fetch(form.action, {
                            method: 'put',
                            body: data,
                            headers: {
                                "Content-Type": "application/x-www-form-urlencoded; charset=UTF-8"
                            }
                        })
                        .then(response => response.text())
                        .then(html => {
                            content = document.createElement("html")
                            content.innerHTML = html
                            let nouveauSelect = content.querySelector("#lodging_city")
                            document.querySelector("#lodging_city").replaceWith(nouveauSelect)
                        })
    
                    })
                }
                
        
        })
    })  
    }
</script> #}
{% endblock %}
