{% extends 'base.html.twig' %}

{% block title %}Lodging index{% endblock %}

{% block body %}
    <h1>Lodging index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Nombre de Chambres</th>
                <th>Personnes Max</th>
                <th>Surface</th>
                <th>Prix de Base Mensuel</th>
                <th>Créé le:</th>
                <th>Mis à jour le:</th>
                
                <th>Adresse</th>
                <th>Lodging_long</th>
                <th>Lodging_lat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lodging in lodgings %}
            <tr>
                <td>{{ lodging.id }}</td>
                <td>{{ lodging.name }}</td>
                <td>{{ lodging.description }}</td>
                <td>{{ lodging.numberRooms }}</td>
                <td>{{ lodging.maxPeople }}</td>
                <td>{{ lodging.surface }}</td>
                <td>{{ lodging.weeklyBasePrice }}</td>
                <td>{{ lodging.createdAt ? lodging.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ lodging.updatedAt ? lodging.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                
                <td>{{ lodging.adress }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_lodging_show', {'id': lodging.id}) }}">show</a>
                    <a href="{{ path('app_lodging_edit', {'id': lodging.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_lodging_new') }}">Create new</a>
{% endblock %}
