{% extends 'base.html.twig' %}

{% block title %}Lodging{% endblock %}

{% block body %}
    <h1>Lodging</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lodging.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ lodging.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ lodging.description }}</td>
            </tr>
            <tr>
                <th>Nombre de chambres</th>
                <td>{{ lodging.numberRooms }}</td>
            </tr>
            <tr>
                <th>Personnes max</th>
                <td>{{ lodging.maxPeople }}</td>
            </tr>
            <tr>
                <th>Surface</th>
                <td>{{ lodging.surface }} m²</td>
            </tr>
            <tr>
                <th>Prix de base hebdomadaire</th>
                <td>{{ lodging.weeklyBasePrice }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ lodging.createdAt ? lodging.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de mise à jour</th>
                <td>{{ lodging.updatedAt ? lodging.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Type de logement</th>
                <td>{{ lodging.type }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ lodging.adress }}</td>
            </tr>
            <tr>
                <th>Lodging_long</th>
                <td>{{ lodging.lodgingLong }}</td>
            </tr>
            <tr>
                <th>Lodging_lat</th>
                <td>{{ lodging.lodgingLat }}</td>
            </tr>
            <tr>
            <pre>
                {{ dump(lodging) }}
                {{ dump(lodging.criteria) }}
            </pre>
                <th>Critères</th>
                {% if lodging.criteria is defined %}
                    {# <td>{{ lodging.criteria }}</td> #}

                {% endif %}
                
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_lodging_index') }}">back to list</a>

    <a href="{{ path('app_lodging_edit', {'id': lodging.id}) }}">edit</a>

    {{ include('lodging/_delete_form.html.twig') }}
{% endblock %}
