{% extends 'base.html.twig' %}

{% block title %}Lodging{% endblock %}

{% block body %}
    <h1>Lodging</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lodging.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ lodging.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ lodging.description }}</td>
            </tr>
            <tr>
                <th>Number_rooms</th>
                <td>{{ lodging.numberRooms }}</td>
            </tr>
            <tr>
                <th>Max_people</th>
                <td>{{ lodging.maxPeople }}</td>
            </tr>
            <tr>
                <th>Surface</th>
                <td>{{ lodging.surface }}</td>
            </tr>
            <tr>
                <th>Weekly_base_price</th>
                <td>{{ lodging.weeklyBasePrice }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ lodging.createdAt ? lodging.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ lodging.updatedAt ? lodging.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ lodging.type }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ lodging.adress }}</td>
            </tr>
            <tr>
                <th>Lodging_long</th>
                <td>{{ lodging.lodgingLong }}</td>
            </tr>
            <tr>
                <th>Lodging_lat</th>
                <td>{{ lodging.lodgingLat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_lodging_index') }}">back to list</a>

    <a href="{{ path('app_lodging_edit', {'id': lodging.id}) }}">edit</a>

    {{ include('lodging/_delete_form.html.twig') }}
{% endblock %}
