{% extends 'base.html.twig' %}

{% block title %}Hello FavsController!{% endblock %}

{% block body %}
<div class='row' >
 {% set i = 0 %}
{% for fav in favs %}
 {% for lodg in lodgs %}
 
    {% if favs[i][0] == lodg.id %}
    <div class="col-12 col-md-6 mt-3" id='home-card'>
        <div class="card-body">
            <h5 class="card-title">{{ lodg.name }}</h5>
            <p class="card-text">{{ lodg.description }}</p>
            
        </div>

        <img class="lodging-pic mt-2" src="{{ asset(lodg.image) }}" class="card-img-bottom" alt="...">
        
            <br>
        <a style='text-decoration:none;' href="{{ path('app_client_detail', {id: lodg.id}) }}"> <i class="pt-3 fa-solid fa-circle-info"></i> </a> 
        <a href="{{ path('app_favs_remove', {id: lodg.id}) }}"><i class="p-1 fa-solid fa-star"></i></a>
        
    </div>
    {% endif %}
    
 {% endfor %}
 {% set i = i +1 %}
{% endfor %}
    </div>
{% endblock %}
