
<turbo-stream action="append" target="messages">
    <template>
        <tr>
        <td> {{message.fromId}}</td><td> </td>
        <td> {{message.createdAt|date('d M H:i')}}</td>
        {% if app.user.roles[0] == 'ROLE_OWNER' %}
            <td style='color: green;'> <h3>{{message.content}} </h3></td>
        {% else %}
            <td style='color: red;'> <h3>{{message.content}} </h3></td>
        {% endif %}

         <script type="module">
         if (appUser = {{message.fromId}}) {
            console.log(appUser)
                const form = document.getElementById('message_content')
                form.value = ''
         }
          
          const chatDiv = document.querySelector('.message-container');
          chatDiv.scrollTop = chatDiv.scrollHeight; 
        </script>
        
       </tr>
    </template>
</turbo-stream autoscroll>

 <turbo-stream action="replace" target="emptyForm">
            <template>
                {{ include('conversation/_form.html.twig') }}
            </template>
</turbo-stream>