
<turbo-stream action="append" target="messages">
    <template>
        <tr>
        <td> {{app.user.email}}</td>
        <td> {{message.createdAt|date('d M H:i')}}</td>
        {% if app.user.roles[0] == 'ROLE_OWNER' %}
            <td style='color: green;'> <h3>{{message.content}} </h3></td>
        {% else %}
            <td style='color: red;'> <h3>{{message.content}} </h3></td>
        {% endif %}     
          
       </tr>
    </template>
</turbo-stream>


{# fonctionne mais renvoi une erreur de redirection
****************************************************** #}
  <turbo-stream action="replace" target="empty-form_{{app.user.id}}">
            <template>
               <script id='empty-form_{{app.user.id}}' type="module">
                const form = document.getElementById('message_content')
                form.value = ''
              </script>
            </template>
</turbo-stream> 



 {# <turbo-stream action="replace" target="emptyForm">
            <template>
                {{ include('conversation/_form.html.twig') }}
            </template>
</turbo-stream> #}