{% extends 'base.html.twig' %}

{% block title %}New Conversation{% endblock %}

{% block body %}
<div data-turbo='true'>
    <h1>Conversation {{conversation.id}}</h1>
       
        
                <table id="messages" {{ turbo_stream_listen('http://127.0.0.1:8000/conversation/' ~ conversation.id) }}>
                            <th>User </th><th></th> <th>Date et Heure</th><th>Contenu du Message</th>
                    {#
                        mercure('http://127.0.0.1:8000/conversation/' ~ conversation.id)
                        The messages will be displayed here.
                        "turbo_stream_listen()" automatically registers a Stimulus controller that subscribes to the "chat" topic as managed by the transport.
                        All connected users will receive the new messages!
                    #}


                            {% for message in conversation.messages %}
                                <tr>
                                    <td> {{message.fromId}}</td><td> </td>
                                    <td> {{message.createdAt|date('d M H:i')}}</td>
                                    <td> <h3>{{message.content}} </h3></td>
                                </tr>
                
                            {% endfor %}
                </table>
        

       

    
    {# <turbo-frame id='new_message' src='{{ path('app_message_new', {'conversation': conversation.id}) }}' target='_top' autoscroll> Loading ...</turbo-frame> #}
        {# <p><a href="{{ path('app_message_new', {'conversation': conversation.id}) }}">New Message</a></p> #}
            {{ form(form) }}
            {# {'attr': {'id': 'emptyForm'}})  #}
</div>
<div class='overflow-auto'>
</div>

{# 
<script>
{% set link = 'http://127.0.0.1:8000/conversation/' ~ conversation.id %}

const eventSource = new EventSource("{{ mercure(link, { subscribe: link })|escape('js') }}", {
    withCredentials: true
});
</script> #}


{% endblock %}


