{% extends 'base.html.twig' %}

{% block title %}New Conversation{% endblock %}

{% block body %}
<div data-turbo='true'>
    <h1>Conversation {{conversation.id}}</h1>
       
       <div class='message-container'>
        
                <table id="messages" {{ turbo_stream_listen('http://127.0.0.1:8000/conversation/' ~ conversation.id) }}>
                <th>User </th><th>Date et Heure</th><th>Contenu du Message</th>
                {% for message in conversation.messages %}
                    <tr>
                        <td > {{message.fromId}}</td>
                        <td> {{message.createdAt|date('d M H:i')}}</td>
                        <td> <h3>{{message.content}} </h3></td>
                    </tr>
                {% endfor %}
                </table>
                </div>
                <div id="scroll_message"></div>
                <div id="empty-message_{{app.user.id}}"></div>
                {{ form(form) }}
        </div>
<div class='overflow-auto pt-5'>
</div>

{# 
<script>
{% set link = 'http://127.0.0.1:8000/conversation/' ~ conversation.id %}

const eventSource = new EventSource("{{ mercure(link, { subscribe: link })|escape('js') }}", {
    withCredentials: true
});
</scrip> #}


{% endblock %}


