{% extends 'base.html.twig' %}

{% block title %}New Conversation{% endblock %}

{% block body %}
<div data-turbo='true'>
    <h1>Conversation {{conversation.id}}</h1>
       
       <div class='message-container' data-controller="scroll">
        
                <table id="messages" {{ turbo_stream_listen('http://127.0.0.1:8000/conversation/' ~ conversation.id) }}>
                <th>User </th><th>Date et Heure</th><th>Contenu du Message</th>
                {% for message in conversation.messages %}
                    <tr>
                        <td > {{message.fromId}}</td>
                        <td> {{message.createdAt|date('d M H:i')}}</td>
                        <td> <h3>{{message.content}} </h3></td>
                    </tr>
                {% endfor %}
                </table>
                </div>
                <div id="scroll_message"></div>
                <div id="empty-form_{{app.user.id}}"></div>
                {{ form(form) }}
        </div>



{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script>
    const chatDiv = document.querySelector('.overflow-auto');
    chatDiv.scrollTop = chatDiv.scrollHeight; 
    </script>

    
{% endblock %}


