
<div class='row' >
 {% for lodg in lodgs %}
<div class="col-12 col-md-6 mt-3" id='home-card'>
  <div class="card-body">
    <h5 class="card-title">{{ lodg.name }}</h5>
    <p class="card-text">{{ lodg.description }}</p>
    
  </div>

{% if filters is defined %}
  <pre>
    {{ dump(filters) }}
  </pre>
{% endif %}

{% if lodg.image is defined %}

 <img class="lodging-pic mt-2" src="{{ asset(lodg.image) }}" class="card-img-bottom" alt="...">
  
{% endif %}
 
  
    <br>
   <a style='text-decoration:none;' href="{{ path('app_client_detail', {id: lodg.id}) }}"> <i class="pt-3 fa-solid fa-circle-info"></i> </a> 
   
   {% if is_granted('ROLE_USER') and favs is defined %}

   
                      {% set y = 0 %}
                      {% set i = 0 %}

                      {% if favs|length == 0  %}
                       <a href="{{ path('app_favs_add', {id: lodg.id}) }}"> <i  class="p-1 fa-regular fa-star"></i></a>
                      {% endif %}
                      
                      
                  {% for fav in favs %}
                      {% if favs[i][0] == lodg.id %}
                        {% set y = 1 %}
                        <a href="{{ path('app_favs_remove', {id: lodg.id}) }}"><i class="p-1 fa-solid fa-star"></i></a>
                        {% elseif i == favs|length -1 and y == 0 %}
                      <a href="{{ path('app_favs_add', {id: lodg.id}) }}"><i  class="p-1 fa-regular fa-star"></i></a>
                      {% endif %}
                      {% set i = i +1 %}
                  {% endfor %}

   
   {% endif %}

                  
   
</div>
    {% endfor %}
    </div>

    
{# On crée des variable personnalisées #}
{% set queryParams = app.request.query.all %}
{% set queryString = queryParams|filter((v, k) => k != "page" and k != "ajax")|url_encode %}

{% if isPaginated is defined and isPaginated %}
<div id='pagination' class="row">
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
   {% if page != 1 %}
    <li class="page-item"><a class="page-link" href="{{ path('app_home', {page: page -1}) }}&{{ queryString }}">Précédent</a></li>
    {% endif %}
      
    {% for i in range(1, nbrePage) %}
        <li class="page-item"><a class="page-link" href="{{ path('app_home', {page: i}) }}&{{ queryString }}">{{i}}</a></li>
    {% endfor %}

    {% if page != nbrePage %}
    <li class="page-item"><a class="page-link" href="{{ path('app_home', {page: page + 1}) }}&{{ queryString }}">Suivant</a></li>
    {% endif %}
  </ul>
</nav>
</div>
  
{% endif %}

