{% extends "base.html.twig" %}

 {% block stylesheets %}
     {{ parent() }}
     {# leaflet #}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
{% endblock %}

{% block body %}


   <div class="row">
<div class="col-12 col-md-6 mt-3">
<h1>{{lodging.name}}</h1>
    <img class='lodging-pic' src="{{lodging.image}}" alt="{{lodging.name}}">
    
<h5 class='mt-2'>Description :</h5>
<p>{{lodging.description}}</p>
<p>Nombre de chambres : {{lodging.numberRooms}}</p>
<p>Nombre de personnes maximum : {{lodging.maxPeople()}}</p>
<p>Superficie : {{lodging.surface}} m²</p>
<p>Tarif hebdomadaire : {{lodging.weeklyBasePrice}} €/semaine</p>
<p>Adresse : {{lodging.adress}}</p>
<h5>Équipements et services:</h5>

<table>
<tbody>
 <tr>
                <td>
                    {% set i = 0 %}
                    {% set totalPrice = 0 %}
                    {% if criterion[i] is defined %}
                                {{ criterion[i].type }}:
                        {% for criteria in criterion %}
                                {% if criterion[i].price is defined %}
                                    {% set totalPrice = totalPrice + criterion[i].price %}
                                {% endif %}
                                {{criteria.name}}
                                {% if criterion[i + 1].type is defined and criterion[i].type != criterion[i + 1].type %}
                                <br>
                                {{ criterion[i + 1].type }}:
                                {% elseif criterion[i + 1].type is defined and criterion[i].type and criterion[i + 1].type == criterion[i].type %}
                                {{","}}
                                {% endif %}
                        {% set i = i + 1 %}
                        {% endfor %}
                    {% endif %}
                    <br>
                    Prix total services: {{ totalPrice }} €/séjour
                </td>
                
            </tr>
            </tbody>
            </table>
</div>
<div class="col-12 col-md-6 mt-5" id="map" style="width: 600px; height: 400px;"  ></div>
</div>



<script>
const map = L.map('map').setView([{{ gps[0] }}, {{ gps[1] }}], 13);

	const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 19,
		attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
	}).addTo(map);

    L.marker([{{ gps[0] }}, {{ gps[1] }}]).addTo(map);

</script>
{% endblock %}


  


