{% extends "base.html.twig" %}

 {% block stylesheets %}
     {{ parent() }}
     {# leaflet #}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
{% endblock %}

{% block body %}


   <div class="row">
<div class="col-12 col-md-6 mt-3">
<h1 class='mt-1'>{{lodging.name}}</h1>
    <img class='lodging-pic mt-4' src="{{lodging.image}}" alt="{{lodging.name}}">
    
<h5 class='mt-4'>Description :</h5>
<table style='border-collapse : separate; border-spacing : 5px;'><tbody>
<tr>
{{lodging.description}}
</tr>
<tr>
<td>Nombre de chambres: </td><td>{{lodging.numberRooms}}</td> 
</tr>
<tr>
<td>Nombre de personnes maximum: </td><td>{{lodging.maxPeople()}}</td>
</tr>
<tr>
<td>Superficie: </td><td>{{lodging.surface}} m²</td>
</tr>
<tr>
<td>Tarif hebdomadaire: </td><td>{{lodging.weeklyBasePrice}} €/semaine</td>
</tr>
<tr>
<td>Adresse: </td><td>{{lodging.adress}}</td>
</tr>
</tbody></table>

<h5 class='mt-3'>Équipements et services:</h5>

<table class='mt-2'>
<tbody>
 <tr>
                <td>
                    {% set i = 0 %}
                    {% set totalPrice = 0 %}
                    {% if criterion[i] is defined %}
                                {{ criterion[i].type }}:
                        {% for criteria in criterion %}
                                {% if criterion[i].price is defined %}
                                    {% set totalPrice = totalPrice + criterion[i].price %}
                                {% endif %}
                                {{criteria.name}}
                                {% if criterion[i + 1].type is defined and criterion[i].type != criterion[i + 1].type %}
                                <br>
                                {{ criterion[i + 1].type }}:
                                {% elseif criterion[i + 1].type is defined and criterion[i].type and criterion[i + 1].type == criterion[i].type %}
                                {{","}}
                                {% endif %}
                        {% set i = i + 1 %}
                        {% endfor %}
                    {% endif %}
                    <br>
                    Prix total services: {{ totalPrice }} €/séjour
                </td>
                
            </tr>
            </tbody>
            </table>
</div>
<div class="col-12 col-md-6 mt-5">
<div id="map" style="width: 600px; height: 400px;"  ></div>
<div>
<h5 class='mt-3'>Localisation:</h5>
<table style='border-collapse : separate; border-spacing : 5px;'>
    <tbody>
        <tr>
            <td> Region: </td> <td> {{ lodging.city.departement.region }} </td>
        </tr>
        <tr>
            <td>  Departement: </td> <td>{{ lodging.city.departement }}  </td>
        </tr>
        <tr>
            <td>  Ville:  </td> <td> {{ lodging.city }} </td>
        </tr>
    </tbody>
</table>

</div>
<div>
<h5>Coordonnées du propriétaire:</h5>

<table style='border-collapse : separate; border-spacing : 5px;'>
    <tbody>
        <tr>
            <td> Nom: </td> <td> {{ user.lastname }} </td>
        </tr>
        <tr>
            <td>  Prénom: </td> <td>{{ user.firstname }}  </td>
        </tr>
        <tr>
            <td>  Tel:  </td> <td> {{ user.phone }} </td>
        </tr>
        <tr>
            <td>  Mail:  </td> <td> {{ user.email }} </td>
        </tr>
        <tr>
            <td>  Disponibilité:  </td> <td> {{ user.disponibility }} </td>
        </tr>
    </tbody>
</table>


</div>
</div>
</div>



<script>
const map = L.map('map').setView([{{ gps[0] }}, {{ gps[1] }}], 13);

	const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 19,
		attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
	}).addTo(map);

    L.marker([{{ gps[0] }}, {{ gps[1] }}]).addTo(map);

</script>
{% endblock %}


  


