{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}


 <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {# <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"> <i class="fa-solid fa-sliders"></i> Filtres</a>
        </li> #}
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           <i class="fa-solid fa-bed"></i> Chambres
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           <i class="fa-solid fa-euro-sign"></i> Prix
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           <i class="fa-solid fa-calendar-days"></i> Dates
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
         
      <form  id="filters">
        {% set i = 0 %}
        {% set eqext = 'Équipements extérieurs' %}
        {% set serv = 'Services' %}
        {% set pet = 'Privilèges' %}
        {% set i = 0 %}
          {% if criterion[i] is defined %}
          <li class="nav-item dropdown" style='float:left;'>
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-tv"></i> {{ criterion[i].type }}
            </a>
            <ul class="dropdown-menu">
          {% for crit in criterion %}
                <li>
                <p class="dropdown-item"><input type="checkbox" name="criterion[]" id="crit{{crit.id}}" value='{{crit.id}}'>
                <label for="crit{{crit.id}}">{{crit.name}}</label>
                </p>
                </li>
                {% if criterion[i + 1].type is defined and criterion[i].type != criterion[i + 1].type %}
                
                </ul></li>
                <li class="nav-item dropdown" style='float:left;'>
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {% if criterion[i + 1].type is same as eqext %}
                    <i class="fa-solid fa-basketball"></i>
                  {% elseif criterion[i + 1].type is same as serv %}
                    <i class="fa-solid fa-car"></i>
                  {% elseif criterion[i + 1].type is same as pet %}
                    <i class="fa-solid fa-dog"></i>
                  {% endif %}
                   {{ criterion[i + 1].type }}
                  </a>
                  <ul class="dropdown-menu">
                {% endif %}

          {% set i = i + 1 %}
        {% endfor %}
        </ul></li>
           
        {% endif %}
          {# <input type="hidden" name="page" value='{{page}}'> #}
      </form>
      
      </ul>
     
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div id='content'>
{% include "client_side/_content.html.twig" %}
</div>

{% endblock %}

{% block javascripts %}

           {{ parent() }} {{ encore_entry_script_tags('filter') }}

{% endblock %}
