{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}

<div class='container-fluid'>
<div class='row'>
 {% for lodg in lodgs %}
<div class="col-12 col-md-6 mt-3">
  <div class="card-body">
    <h5 class="card-title">{{ lodg.name }}</h5>
    <p class="card-text">{{ lodg.description }}</p>
    
  </div>

  <img class="lodging-pic mt-2" src="{{ asset(lodg.image) }}" class="card-img-bottom" alt="...">
  
    <br>
   <a href="{{ path('app_client_detail', {id: lodg.id}) }}"> <i class="fa-solid fa-circle-info"></i> </a> 
   <br>
   <a href="#"><i class="fa-regular fa-star"></i></a>
</div>
    {% endfor %}
    </div>
</div>
{# 
<div class='container-fluid'>
<div class='row'>
    <div class="col-12 col-md-6 mt-3">
  <div class="card-body">
    <h5 class="card-title">{{ lodg.name }}</h5>>
    <p class="card-text">{{ lodg.description }}</p>
    
  </div>
  <img class="lodging-pic" src="{{ asset('/uploads/images/bakery-63c584ce5f0ae.png') }}" class="card-img-bottom" alt="...">
  
    <i class="fa-solid fa-circle-info"></i>
</div>
    <div class="col-12 col-md-6 mt-3">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    
  </div>
  <img class="lodging-pic" src="{{ asset('/uploads/images/bakery-63c584ce5f0ae.png') }}" class="card-img-bottom" alt="...">
  
    <i class="fa-solid fa-circle-info"></i>
</div>
    <div class="col-12 col-md-6 mt-3">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    
  </div>
  <img class="lodging-pic" src="{{ asset('/uploads/images/bakery-63c584ce5f0ae.png') }}" class="card-img-bottom" alt="...">
  
    <i class="fa-solid fa-circle-info"></i>
</div>
    <div class="col-12 col-md-6 mt-3">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    
  </div>
  <img class="lodging-pic" src="{{ asset('/uploads/images/bakery-63c584ce5f0ae.png') }}" class="card-img-bottom" alt="...">
  
    <i class="fa-solid fa-circle-info"></i>
</div>
</div> #}


{% endblock %}
