{% extends "base.html.twig" %}

{% set queryParams = app.request.query.all %}
{% set queryString = queryParams|filter((v, k) => k != "page" and k != "ajax")|url_encode %}
{% block stylesheets %}
     {{ parent() }}
     {# leaflet #}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
       <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
        {% endblock %}

{% block body %}


 <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0"> 
      <form  id="filters"> 
        <li class="nav-item dropdown" style="float:left;">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           <i class="fa-solid fa-bed"></i> Chambres
          </a>
           {% if queryParams is not empty and queryParams.rooms is defined %}
               {% set roomsValue = queryParams.rooms %}
            {% else %}
              {% set roomsValue = "" %}
            {% endif %}
          <ul class="dropdown-menu">
            <li class="dropdown-item">
            <input class="form-control"  type="text" name="rooms" id="rooms" placeholder="Nombre de Chambres" value='{{roomsValue}}'/>
            </li>
          </ul>
        </li>
        
        <li class="nav-item dropdown" style="float:left;">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           <i class="fa-solid fa-euro-sign"></i> Prix
          </a>
          <ul class="dropdown-menu">
             <li class="dropdown-item" ><input class="form-control" type="text" name="lowPrice" id="lowPrice" 
             {% if queryParams is not empty and queryParams.lowPrice is defined %}
             value='{{queryParams.lowPrice}}'
             {% endif %}
             />
            <label for="lowPrice">Min </label></li>
            <li><hr class="dropdown-divider"></li>
            <li class="dropdown-item"><input class="form-control" type="text" name="highPrice" id="highPrice" 
            {% if queryParams is not empty and queryParams.highPrice is defined %}
            value='{{queryParams.highPrice}}'
            {% endif %}
            />
            <label for="highPrice">Max </label>
            </li>
          </ul>
        </li>
        
        {% set eqext = 'Équipements extérieurs' %}
        {% set serv = 'Services' %}
        {% set pet = 'Privilèges' %}
        {% set i = 0 %}
          {% if criterion[i] is defined %}
          <li class="nav-item dropdown" style='float:left;'>
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-tv"></i> {{ criterion[i].type }}
            </a>
            <ul class="dropdown-menu">
          {% for crit in criterion %}
            {# On verifie si la catégorie est dans les paramètres #}
            {% if queryParams is not empty and queryParams.criterion is defined %}
              {% set checked = (crit.id in queryParams.criterion) ? "checked": "" %}
            {% else %}
              {% set checked = "" %}
            {% endif %}
                <li>
                <p class="dropdown-item"><input type="checkbox" name="criterion[]" id="crit{{crit.id}}" value='{{crit.id}}' {{ checked }}>
                <label for="crit{{crit.id}}">{{crit.name}}</label>
                </p>
                </li>
                {% if criterion[i + 1].type is defined and criterion[i].type != criterion[i + 1].type %}
                
                </ul></li>
                <li class="nav-item dropdown" style='float:left;'>
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {% if criterion[i + 1].type is same as eqext %}
                        <i class="fa-solid fa-basketball"></i>
                      {% elseif criterion[i + 1].type is same as serv %}
                        <i class="fa-solid fa-car"></i>
                      {% elseif criterion[i + 1].type is same as pet %}
                        <i class="fa-solid fa-dog"></i>
                      {% else %}
                        <i class="fa-solid fa-square-check"></i>
                      {% endif %}
                   {{ criterion[i + 1].type }}
                  </a>
                  <ul class="dropdown-menu">
                {% endif %}

          {% set i = i + 1 %}
        {% endfor %}
        </ul></li>
           
        {% endif %}
          {# <input type="hidden" name="page" value='{{page}}'> #}
            
              
        <li class="nav-item dropdown" style="float:left;">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           <i class="fa-solid fa-map-pin"></i> Region
          </a>
          
          <ul class="dropdown-menu region">
          
        {# <div class="d-flex flex-wrap"> #}
        
        <li class="dropdown-item">
          <input class='region' type="radio" name="region" id="france" value=''/>
          <label for="france">Toute la France</label>
        </li>
      {% for region in regions %}
       {% if queryParams is not empty and queryParams.region is defined %}
               {% set checked = (region.code in queryParams.region) ? "checked": "" %}
            {% else %}
              {% set checked = "" %}
            {% endif %}

        <li class="dropdown-item">
          <input class='region' type="radio" name="region" id="region{{region.id}}" value='{{region.code}}' {{checked}} />
          <label for="region{{region.id}}">{{region.name}}</label>
        </li>
      {% endfor %}
    {# </div> #}
          </ul>
        </li>
        <li class="nav-item dropdown" style="float:left;">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           <i class="fa-sharp fa-solid fa-city"></i> Ville
          </a>
          <ul class="dropdown-menu">
          {% if queryParams is not empty and queryParams.cityName is defined %}
               {% set cityValue = queryParams.cityName %}
            {% else %}
              {% set cityValue = "" %}
            {% endif %}
            <li class="dropdown-item" style="float:left;">
                <input class="form-control me-2 city-api-gouv"
                 type="text" placeholder="Ville" value='{{cityValue}}'
                 {% if queryParams is not empty and queryParams.cityName is defined %}
                  name='cityName'
                  />
                   <input type="hidden" name="cityGpsLat" value='{{queryParams.cityGpsLat}}'/>
                   <input type="hidden" name="cityGpsLng" value='{{queryParams.cityGpsLng}}'/>

                 {% else %}
                 />
                 {% endif %}
                <ul id="showCity">
                </ul>
            </li>
            
            {% if queryParams is not empty and queryParams.zone is defined %}
               {% set zoneValue = queryParams.zone %}
            {% else %}
              {% set zoneValue = "" %}
            {% endif %}
            <li class="dropdown-item" style="float:left;">
                <input class="form-control me-2 " type="number" placeholder="Rayon (en Km)" name="zone" value='{{zoneValue}}'/>
            </li>
          </ul>
        </li>
      </form>
       <li class="nav-item">
       <input class="nav-link btn btn-primary" type="button" onclick='document.location.reload(false)' value="Rechercher"/>
        </li>
      
      </ul>
  </div>
</nav>

<div id="map" class="container-fluid" style="width: 1200px; height: 800px;"></div>

    <script>

const map = L.map('map').setView([ 46.93186500000001, 2.82579196078431], 6);

const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 19,
		attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
	}).addTo(map);
   

</script>
<div id='content'>
{% include "client_side/_mapContent.html.twig" %}
</div>
   
{% endblock %}

{% block javascripts %}
 {{ parent() }} 
           <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <script>       
            window.onload = () => {
                    const cityInput = document.querySelector(".city-api-gouv")
                    const showCity = document.getElementById("showCity")
                    
                    
                    const onKeyUp = () => {
                      if (cityInput.value.length > 2) {
                        axios.get('https://api-adresse.data.gouv.fr/search/?q='+ cityInput.value +'&type=municipality&autocomplete=1&limit=1')
                        .then(function (response) {
                          // handle success
                          let html = ''
                          response.data.features.forEach((city) => {
                            console.log(city.geometry.coordinates)
                            html += '<li class="item"><input id="city'
                            +city.properties.id+
                            '" class="city-api-gouv-hidden" type="hidden" value=' 
                            + city.properties.postcode +
                            ' name="cityZipCode"/><input id="city'
                            +city.properties.id+
                            '" class="city-api-gouv-hidden" type="hidden" value=' 
                            + city.properties.name +
                            ' name="cityName"/><input id="city'
                            +city.properties.id+
                            '" class="city-api-gouv-hidden" type="hidden" value=' 
                            + city.geometry.coordinates[1] +
                            ' name="cityGpsLat"/><input id="city'
                            +city.properties.id+
                            '" class="city-api-gouv-hidden" type="hidden" value=' 
                            + city.geometry.coordinates[0] +
                            ' name="cityGpsLng"/><label for="city'
                            +city.properties.id+'">'
                            + city.properties.city + ' - ' + city.properties.postcode+
                            ' </label></li>'
                            showCity.innerHTML = html
                          })
                        })
                      }
                    }
                    cityInput.addEventListener("keyup", onKeyUp)
              }
           </script>
           {{ encore_entry_script_tags('filters') }}

{% endblock %}